@import url(./media.css);
/* plus-jakarta-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/plus-jakarta-sans-v8-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/plus-jakarta-sans-v8-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-bg: #030303;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%; /* 10px */
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: flex;
    object-fit: cover;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff7f0;
}

/* normalize css problem fixed */
h1 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1211px; /* it depends on you project */
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

main {
    flex-grow: 1;
}

.header {
    margin-top: 3.4rem;
    margin-bottom: 6.6rem;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    width: 6.4rem;
    height: 6.4rem;
}
.logo-img {
}
.btn {
    padding: 1.4rem 4.4rem;
    background-color: var(--secondary-bg);
    border-radius: 2.8rem;
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
    transition: all 0.5s ease;
    &:active {
        background-color: #755cde;
    }
}
.design-title {
    text-align: center;
}
.design-container__title {
    font-family: "Plus Jakarta Sans";
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.26;
    text-align: center;
}
.design-container__info {
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-top: 2.3rem;
    color: #7a746e;
}
.design {
}
.card-box {
    margin-bottom: 13.6rem;
    margin-top: 8rem;
    position: relative;
}
.card-box__graphic {
    width: 35.4rem;
    height: 36.4rem;
    background-color: #755cde;
    border-radius: 0.8rem;
}
.grap {
    position: absolute;
    left: 20.2rem;
}
.card-box__ui-ux {
    width: 16.4rem;
    height: 18.2rem;
    background-color: #f6a560;
    border-radius: 0.8rem;
    position: absolute;
    top: 0;
    left: 37.8rem;
}
.card-box__apps {
    width: 16.4rem;
    height: 18.2rem;
    background-color: #f39e9e;
    border-radius: 0.8rem;
    position: absolute;
    top: 0;
    left: 56.7rem;
}
.card-box__illustrations {
    width: 35.4rem;
    height: 15.8rem;
    background-color: #eb7565;
    border-radius: 0.8rem;
    position: absolute;
    top: 20.4rem;
    left: 37.8rem;
}
.card-box__photography {
    width: 35.4rem;
    height: 18.2rem;
    background-color: #61c4b7;
    border-radius: 0.8rem;
    position: absolute;
    top: 0;
    left: 75.6rem;
}
.card-box__motion-graphics {
    width: 35.4rem;
    height: 15.8rem;
    background-color: #552049;
    border-radius: 0.8rem;
    position: absolute;
    top: 20.4rem;
    left: 75.8rem;
}

.card-box h3 {
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 3.024rem;
    text-align: left;
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
    color: #fff;
}

.card-box img {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
}

.person {
    margin-bottom: 8.8rem;
}
.person-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12.5rem;
}

.person-container__img {
    width: 44.5rem;
    height: 44.5rem;
}
.person-container__info {
}
.person__title {
    font-family: "Plus Jakarta Sans";
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.26;
    color: #030303;
    margin-bottom: 3.4rem;
}
.person__info {
    font-family: "Plus Jakarta Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #7a746e;
    margin-bottom: 3.2rem;
}
.person-btn {
    background-color: #eb7565;
}

.myWork {
}
.myWork__title {
    font-family: "Plus Jakarta Sans";
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.26;
    text-align: center;
    margin-bottom: 5.6rem;
}
.newspaper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5.6rem;
    gap: 1.6rem;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    transition: all 0.5s ease;
    &:active {
        background-color: #755cde;
    }
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    transition: all 0.5s ease;
    &:active {
        background-color: #755cde;
    }
}

.box {
    margin-top: 16.9rem;
}
.box-full-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    padding-top: 8rem;
    padding-left: 6.5rem;
    padding-right: 9.5rem;
    padding-bottom: 8rem;
    border-radius: 0.8rem;
}

.call--info {
}
.call--info__title {
    font-family: "Plus Jakarta Sans";
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
}
.call--info__info {
    font-family: "Plus Jakarta Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    color: #fff;
    width: 54rem;
}
.person-btn {
}
.btn {
}
