/* plus-jakarta-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/plus-jakarta-sans-v8-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/plus-jakarta-sans-v8-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-bg: #030303;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%; /* 10px */
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: flex;
    object-fit: cover;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* normalize css problem fixed */
h1 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1211px; /* it depends on you project */
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

main {
    flex-grow: 1;
}

.header {
    margin-top: 3.4rem;
    margin-bottom: 6.6rem;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    width: 6.4rem;
    height: 6.4rem;
}
.logo-img {
}
.btn {
    padding: 1.4rem 4.4rem;
    background-color: var(--secondary-bg);
    border-radius: 2.8rem;
    font-family: "Plus Jakarta Sans";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
    transition: all 0.5s ease;
    &:active {
        background-color: #755cde;
    }
}

.design-container__title {
    font-family: "Plus Jakarta Sans";
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.26;
    text-align: center;
}
.design-container__info {
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-top: 2.3rem;
}

.design-title {
}
